<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.fee.common.dao.FeeCommonDao">

    <select id="getRangeIdByRoomId" resultType="java.lang.String">
        SELECT concat_ws(',',tr.id,th.id,tb.id,tpp.id,sa.id,REVERSE(sa.parent_ids))
        from t_room tr
        left JOIN t_house th on tr.house_id = th.id and th.DEL_FLAG=0
        left JOIN t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join t_property_project tpp on tb.T_PROPERTY_PROJECT_MAIN_ID=tpp.ID and tpp.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        where tr.del_flag=0 and tr.id=#{roomId}
    </select>

    <select id="getRangeIdByHouseId" resultType="java.lang.String">
        SELECT concat_ws(',',th.id,tb.id,tpp.id,sa.id,REVERSE(sa.parent_ids)) from t_house th
        left JOIN t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join t_property_project tpp on tb.T_PROPERTY_PROJECT_MAIN_ID=tpp.ID and tpp.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        where th.del_flag=0 and th.id=#{houseId}
    </select>

    <select id="getJoinRentAllRoom" resultType="com.thinkgem.jeesite.modules.inventory.entity.Room">
        SELECT
        tr.id,tr.ROOM_NO,
        tr.ROOM_STATUS,
        th.ID 'house.id',
        th.HOUSE_NO 'house.houseNo',
        th.HOUSE_CODE 'house.houseCode',
        th.intent_mode 'house.intentMode' ,
        th.property_project_id 'house.propertyProject.id',
        th.gas_account_num 'house.gasAccountNum',
        th.water_account_num 'house.waterAccountNum'
        from t_room tr
        left join t_house th ON th.id=tr.HOUSE_ID AND tr.DEL_FLAG=0
        LEFT JOIN t_building tb ON tb.id = th.BUILDING_ID AND tb.del_flag=0
        LEFT JOIN t_property_project tpp ON tpp.id = th.PROPERTY_PROJECT_ID AND tpp.del_flag=0
        LEFT JOIN sys_area sa ON sa.id = tpp.AREA_ID AND sa.del_flag=0
        WHERE tr.DEL_FLAG=0 AND th.DEL_FLAG=0 AND th.intent_mode=1 AND tr.ROOM_STATUS=3
        <if test="scope!=null and scope!=''">
            <choose>
                <when test="scope==1 or scope==2  or scope==3  or scope==4  or scope==5  or scope==6">
                    AND sa.id = #{businessId}
                </when>
                <when test="scope==7">
                    AND tpp.id = #{businessId}
                </when>
                <when test="scope==8">
                    AND tb.id = #{businessId}
                </when>
                <when test="scope==9">
                    AND th.id = #{businessId}
                </when>
                <when test="scope==10">
                    AND tr.id = #{businessId}
                </when>
            </choose>
        </if>
    </select>

</mapper>
