<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.fee.electricity.dao.FeeElectricityBillDao">

    <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="house_id" property="houseId" jdbcType="VARCHAR"/>
        <result column="house_ele_num" property="houseEleNum" jdbcType="VARCHAR"/>
        <result column="ele_bill_date" property="eleBillDate" jdbcType="TIMESTAMP"/>
        <result column="ele_bill_amount" property="eleBillAmount" jdbcType="NUMERIC"/>
        <result column="ele_peak_degree" property="elePeakDegree" jdbcType="NUMERIC"/>
        <result column="ele_valley_degree" property="eleValleyDegree" jdbcType="NUMERIC"/>
        <result column="bill_status" property="billStatus" jdbcType="NUMERIC"/>
        <result column="create_by" property="createBy.id" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy.id" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="HouseFeeWithAreaAndBuildAndPropertyMap"
               type="com.thinkgem.jeesite.modules.fee.electricity.entity.vo.FeeElectricityBillVo"
               extends="BaseResultMap">
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="building_id" property="buildingId" jdbcType="VARCHAR"/>
        <result column="building_name" property="buildingName" jdbcType="VARCHAR"/>
        <result column="house_no" property="houseNo" jdbcType="VARCHAR"/>
        <result column="project_addr" property="projectAddress" jdbcType="VARCHAR"/>
        <result column="bill_status_name" property="billStatusName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, batch_no, property_id, house_id, house_ele_num, ele_bill_date, ele_bill_amount, ele_peak_degree, ele_valley_degree, bill_status, create_by, create_date, update_by, update_date, remarks, del_flag
    </sql>

    <sql id="Insert_Columns">
        <if test="id!=null">id,</if>
        <if test="batchNo!=null">batch_no,</if>
        <if test="propertyId!=null">property_id,</if>
        <if test="houseId!=null">house_id,</if>
        <if test="houseEleNum!=null">house_ele_num,</if>
        <if test="eleBillDate!=null">ele_bill_date,</if>
        <if test="eleBillAmount!=null">ele_bill_amount,</if>
        <if test="elePeakDegree!=null">ele_peak_degree,</if>
        <if test="eleValleyDegree!=null">ele_valley_degree,</if>
        <if test="billStatus!=null">bill_status,</if>
        <if test="createBy!=null">create_by,</if>
        <if test="createDate!=null">create_date,</if>
        <if test="updateBy!=null">update_by,</if>
        <if test="updateDate!=null">update_date,</if>
        <if test="remarks!=null">remarks,</if>
        <if test="delFlag!=null">del_flag,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
        <if test="batchNo!=null">#{batchNo,jdbcType=VARCHAR},</if>
        <if test="propertyId!=null">#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null">#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseEleNum!=null">#{houseEleNum,jdbcType=VARCHAR},</if>
        <if test="eleBillDate!=null">#{eleBillDate,jdbcType=TIMESTAMP},</if>
        <if test="eleBillAmount!=null">#{eleBillAmount,jdbcType=NUMERIC},</if>
        <if test="elePeakDegree!=null">#{elePeakDegree,jdbcType=NUMERIC},</if>
        <if test="eleValleyDegree!=null">#{eleValleyDegree,jdbcType=NUMERIC},</if>
        <if test="billStatus!=null">#{billStatus,jdbcType=NUMERIC},</if>
        <if test="createBy!=null">#{createBy.id,jdbcType=VARCHAR},</if>
        <if test="createDate!=null">#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateBy!=null">#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.id,jdbcType=VARCHAR},
        #{item.batchNo,jdbcType=VARCHAR},
        #{item.propertyId,jdbcType=VARCHAR},
        #{item.houseId,jdbcType=VARCHAR},
        #{item.houseEleNum,jdbcType=VARCHAR},
        #{item.eleBillDate,jdbcType=TIMESTAMP},
        #{item.eleBillAmount,jdbcType=NUMERIC},
        #{item.elePeakDegree,jdbcType=NUMERIC},
        #{item.eleValleyDegree,jdbcType=NUMERIC},
        #{item.billStatus,jdbcType=NUMERIC},
        #{item.createBy.id,jdbcType=VARCHAR},
        #{item.createDate,jdbcType=TIMESTAMP},
        #{item.updateBy.id,jdbcType=VARCHAR},
        #{item.updateDate,jdbcType=TIMESTAMP},
        #{item.remarks,jdbcType=VARCHAR},
        #{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <sql id="Update_Set_From_Bean">
        <if test="batchNo!=null">batch_no=#{batchNo,jdbcType=VARCHAR},</if>
        <if test="propertyId!=null">property_id=#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null">house_id=#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseEleNum!=null">house_ele_num=#{houseEleNum,jdbcType=VARCHAR},</if>
        <if test="eleBillDate!=null">ele_bill_date=#{eleBillDate,jdbcType=TIMESTAMP},</if>
        <if test="eleBillAmount!=null">ele_bill_amount=#{eleBillAmount,jdbcType=NUMERIC},</if>
        <if test="elePeakDegree!=null">ele_peak_degree=#{elePeakDegree,jdbcType=NUMERIC},</if>
        <if test="eleValleyDegree!=null">ele_valley_degree=#{eleValleyDegree,jdbcType=NUMERIC},</if>
        <if test="billStatus!=null">bill_status=#{billStatus,jdbcType=NUMERIC},</if>
        <if test="updateBy!=null">update_by=#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">remarks=#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">del_flag=#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        batch_no=#{item.batchNo,jdbcType=VARCHAR},
        property_id=#{item.propertyId,jdbcType=VARCHAR},
        house_id=#{item.houseId,jdbcType=VARCHAR},
        house_ele_num=#{item.houseEleNum,jdbcType=VARCHAR},
        ele_bill_date=#{item.eleBillDate,jdbcType=TIMESTAMP},
        ele_bill_amount=#{item.eleBillAmount,jdbcType=NUMERIC},
        ele_peak_degree=#{item.elePeakDegree,jdbcType=NUMERIC},
        ele_valley_degree=#{item.eleValleyDegree,jdbcType=NUMERIC},
        bill_status=#{item.billStatus,jdbcType=NUMERIC},
        update_by=#{item.updateBy.id,jdbcType=VARCHAR},
        update_date=#{item.updateDate,jdbcType=TIMESTAMP},
        remarks=#{item.remarks,jdbcType=VARCHAR},
        del_flag=#{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <!--where-->
    <sql id="where">
        <where>
            <if test="id!=null and id!=''">AND id=#{id}</if>
            <if test="batchNo!=null and batchNo!=''">AND batch_no=#{batchNo}</if>
            <if test="propertyId!=null and propertyId!=''">AND property_id=#{propertyId}</if>
            <if test="houseId!=null and houseId!=''">AND house_id=#{houseId}</if>
            <if test="houseEleNum!=null and houseEleNum!=''">AND house_ele_num=#{houseEleNum}</if>
            <if test="eleBillDate!=null and eleBillDate!=''">AND ele_bill_date=#{eleBillDate}</if>
            <if test="eleBillAmount!=null and eleBillAmount!=''">AND ele_bill_amount=#{eleBillAmount}</if>
            <if test="elePeakDegree!=null and elePeakDegree!=''">AND ele_peak_degree=#{elePeakDegree}</if>
            <if test="eleValleyDegree!=null and eleValleyDegree!=''">AND ele_valley_degree=#{eleValleyDegree}</if>
            <if test="billStatus!=null and billStatus!=''">AND bill_status=#{billStatus}</if>
            AND del_flag = 0
        </where>
    </sql>
    <!--end where-->

    <!--insert-->
    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill"
            useGeneratedKeys="true" keyProperty="id">
        insert into fee_electricity_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into fee_electricity_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->

    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from fee_electricity_bill
        where  id = #{id,jdbcType=VARCHAR}  
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill">
        delete from fee_electricity_bill
        <include refid="where"/>
    </delete>
    <!-- end delete -->

    <!-- update -->
    <update id="update" parameterType="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill">
        update fee_electricity_bill
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update fee_electricity_bill
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id = #{id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <!-- end update -->

    <!-- select -->
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_electricity_bill
        WHERE
        id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultMap="BaseResultMap"
            parameterType="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_electricity_bill
        <include refid="where"/>
        ORDER BY create_date DESC
    </select>

    <select id="findList" resultMap="BaseResultMap"
            parameterType="com.thinkgem.jeesite.modules.fee.electricity.entity.FeeElectricityBill">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_electricity_bill
        <include refid="where"/>
        ORDER BY create_date DESC
    </select>

    <select id="getLastRecord" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_electricity_bill
        WHERE del_flag=0
        <if test="id!=null and id!=''">
            AND id!=#{id,jdbcType=VARCHAR}
        </if>
        AND house_id=#{houseId,jdbcType=VARCHAR}
        ORDER BY ele_bill_date DESC
        limit 0,1;
    </select>

    <select id="getCurrentBillByDateAndHouseNum" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_electricity_bill
        WHERE del_flag=0
        AND DATE_FORMAT(ele_bill_date,'%Y-%m')=DATE_FORMAT(#{eleBillDate,jdbcType=TIMESTAMP},'%Y-%m')
        AND house_ele_num=#{houseEleNum,jdbcType=VARCHAR}
    </select>

    <select id="getTotalAmount"
            parameterType="com.thinkgem.jeesite.modules.fee.common.entity.FeeCriteriaEntity"
            resultType="java.lang.Double">
        SELECT
        sum(IFNULL(feb.ele_bill_amount,0))
        FROM t_house th
        left join t_property_project tpp on th.PROPERTY_PROJECT_ID=tpp.ID and tpp.DEL_FLAG=0
        left join t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        left join fee_electricity_bill feb on feb.house_id=th.ID and feb.del_flag=0
        <if test="feeDate!=null and feeDate!=''">
            AND DATE_FORMAT(feb.ele_bill_date,'%Y-%m')=#{feeDate,jdbcType=VARCHAR}
        </if>
        <include refid="commonWhere"/>
    </select>
    <select id="getAllHouseFeeWithAreaAndBuildAndProperty"
            parameterType="com.thinkgem.jeesite.modules.fee.common.entity.FeeCriteriaEntity"
            resultMap="HouseFeeWithAreaAndBuildAndPropertyMap">
        select
        sa.name area_name,tpp.AREA_ID,
        th.HOUSE_NO,th.id house_id,th.ele_account_num house_ele_num,
        tpp.PROJECT_NAME,th.PROPERTY_PROJECT_ID PROPERTY_ID,tpp.PROJECT_ADDR,
        th.BUILDING_ID,tb.BUILDING_NAME,
        feb.id,feb.batch_no,feb.ele_bill_date,feb.ele_bill_amount,
        feb.ele_peak_degree,feb.ele_valley_degree,feb.bill_status,
        case feb.bill_status when '0' then '待提交' when '1' then '待审核' when '2' then '审核通过' when '3' then '审核驳回' else ''
        end bill_status_name
        from t_house th
        left join t_property_project tpp on th.PROPERTY_PROJECT_ID=tpp.ID and tpp.DEL_FLAG=0
        left join t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        left join fee_electricity_bill feb on feb.house_id=th.ID and feb.del_flag=0
        <if test="feeDate!=null and feeDate!=''">
            AND DATE_FORMAT(feb.ele_bill_date,'%Y-%m')=#{feeDate,jdbcType=VARCHAR}
        </if>
        <include refid="commonWhere"/>
        ORDER BY feb.create_date DESC
    </select>
    <!-- end select -->
    <sql id="commonWhere">
        <where>
            <if test="areaId!=null and areaId!=''">AND sa.id=#{areaId}</if>
            <if test="propertyId!=null and propertyId!=''">AND tpp.id=#{propertyId}</if>
            <if test="buildId!=null and buildId!=''">AND tb.id=#{buildId}</if>
            <if test="houseId!=null and houseId!=''">AND th.id=#{houseId}</if>
            <if test="status!=null and status!=''">AND feb.bill_status=#{status}</if>
            <if test="houseNum!=null and houseNum!=''">AND th.ele_account_num LIKE '%#{houseNum}%'</if>
            <if test="isRecord!=null and isRecord!=''">
                <!-- 已录 -->
                <if test="isRecord==0">
                    and feb.id is not null
                </if>
                <!-- 未录 -->
                <if test="isRecord==1">
                    and feb.id is null
                </if>
            </if>
            <!-- 数据范围过滤 -->
            ${sqlMap.dsf}
        </where>
    </sql>
</mapper>
