<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.fee.gas.dao.FeeGasBillDao">

    <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="house_id" property="houseId" jdbcType="VARCHAR"/>
        <result column="house_gas_num" property="houseGasNum" jdbcType="VARCHAR"/>
        <result column="gas_bill_date" property="gasBillDate" jdbcType="TIMESTAMP"/>
        <result column="gas_bill_amount" property="gasBillAmount" jdbcType="NUMERIC"/>
        <result column="gas_degree" property="gasDegree" jdbcType="NUMERIC"/>
        <result column="bill_status" property="billStatus" jdbcType="NUMERIC"/>
        <result column="create_by" property="createBy.id" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy.id" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="HouseFeeWithAreaAndBuildAndPropertyMap"
               type="com.thinkgem.jeesite.modules.fee.gas.entity.vo.FeeGasBillVo"
               extends="BaseResultMap">
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="building_id" property="buildingId" jdbcType="VARCHAR"/>
        <result column="building_name" property="buildingName" jdbcType="VARCHAR"/>
        <result column="house_no" property="houseNo" jdbcType="VARCHAR"/>
        <result column="project_addr" property="projectAddress" jdbcType="VARCHAR"/>
        <result column="bill_status_name" property="billStatusName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, batch_no, property_id, house_id, house_gas_num, gas_bill_date, gas_bill_amount, gas_degree, bill_status, create_by, create_date, update_by, update_date, remarks, del_flag
    </sql>

    <sql id="Insert_Columns">
        <if test="id!=null">id,</if>
        <if test="batchNo!=null">batch_no,</if>
        <if test="propertyId!=null">property_id,</if>
        <if test="houseId!=null">house_id,</if>
        <if test="houseGasNum!=null">house_gas_num,</if>
        <if test="gasBillDate!=null">gas_bill_date,</if>
        <if test="gasBillAmount!=null">gas_bill_amount,</if>
        <if test="gasDegree!=null">gas_degree,</if>
        <if test="billStatus!=null">bill_status,</if>
        <if test="createBy!=null">create_by,</if>
        <if test="createDate!=null">create_date,</if>
        <if test="updateBy!=null">update_by,</if>
        <if test="updateDate!=null">update_date,</if>
        <if test="remarks!=null">remarks,</if>
        <if test="delFlag!=null">del_flag,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
        <if test="batchNo!=null">#{batchNo,jdbcType=VARCHAR},</if>
        <if test="propertyId!=null">#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null">#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseGasNum!=null">#{houseGasNum,jdbcType=VARCHAR},</if>
        <if test="gasBillDate!=null">#{gasBillDate,jdbcType=TIMESTAMP},</if>
        <if test="gasBillAmount!=null">#{gasBillAmount,jdbcType=NUMERIC},</if>
        <if test="gasDegree!=null">#{gasDegree,jdbcType=NUMERIC},</if>
        <if test="billStatus!=null">#{billStatus,jdbcType=NUMERIC},</if>
        <if test="createBy!=null">#{createBy.id,jdbcType=VARCHAR},</if>
        <if test="createDate!=null">#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateBy!=null">#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.id,jdbcType=VARCHAR},
        #{item.batchNo,jdbcType=VARCHAR},
        #{item.propertyId,jdbcType=VARCHAR},
        #{item.houseId,jdbcType=VARCHAR},
        #{item.houseGasNum,jdbcType=VARCHAR},
        #{item.gasBillDate,jdbcType=TIMESTAMP},
        #{item.gasBillAmount,jdbcType=NUMERIC},
        #{item.gasDegree,jdbcType=NUMERIC},
        #{item.billStatus,jdbcType=NUMERIC},
        #{item.createBy.id,jdbcType=VARCHAR},
        #{item.createDate,jdbcType=TIMESTAMP},
        #{item.updateBy.id,jdbcType=VARCHAR},
        #{item.updateDate,jdbcType=TIMESTAMP},
        #{item.remarks,jdbcType=VARCHAR},
        #{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <sql id="Update_Set_From_Bean">
        <if test="batchNo!=null">batch_no=#{batchNo,jdbcType=VARCHAR},</if>
        <if test="propertyId!=null">property_id=#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null">house_id=#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseGasNum!=null">house_gas_num=#{houseGasNum,jdbcType=VARCHAR},</if>
        <if test="gasBillDate!=null">gas_bill_date=#{gasBillDate,jdbcType=TIMESTAMP},</if>
        <if test="gasBillAmount!=null">gas_bill_amount=#{gasBillAmount,jdbcType=NUMERIC},</if>
        <if test="gasDegree!=null">gas_degree=#{gasDegree,jdbcType=NUMERIC},</if>
        <if test="billStatus!=null">bill_status=#{billStatus,jdbcType=NUMERIC},</if>
        <if test="updateBy!=null">update_by=#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">remarks=#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">del_flag=#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        batch_no=#{item.batchNo,jdbcType=VARCHAR},
        property_id=#{item.propertyId,jdbcType=VARCHAR},
        house_id=#{item.houseId,jdbcType=VARCHAR},
        house_gas_num=#{item.houseGasNum,jdbcType=VARCHAR},
        gas_bill_date=#{item.gasBillDate,jdbcType=TIMESTAMP},
        gas_bill_amount=#{item.gasBillAmount,jdbcType=NUMERIC},
        gas_degree=#{item.gasDegree,jdbcType=NUMERIC},
        bill_status=#{item.billStatus,jdbcType=NUMERIC},
        update_by=#{item.updateBy.id,jdbcType=VARCHAR},
        update_date=#{item.updateDate,jdbcType=TIMESTAMP},
        remarks=#{item.remarks,jdbcType=VARCHAR},
        del_flag=#{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <!--where-->
    <sql id="where">
        <where>
            <if test="id!=null and id!=''">AND id=#{id}</if>
            <if test="batchNo!=null and batchNo!=''">AND batch_no=#{batchNo}</if>
            <if test="propertyId!=null and propertyId!=''">AND property_id=#{propertyId}</if>
            <if test="houseId!=null and houseId!=''">AND house_id=#{houseId}</if>
            <if test="houseGasNum!=null and houseGasNum!=''">AND house_gas_num=#{houseGasNum}</if>
            <if test="gasBillDate!=null and gasBillDate!=''">AND gas_bill_date=#{gasBillDate}</if>
            <if test="gasBillAmount!=null and gasBillAmount!=''">AND gas_bill_amount=#{gasBillAmount}</if>
            <if test="gasDegree!=null and gasDegree!=''">AND gas_degree=#{gasDegree}</if>
            <if test="billStatus!=null and billStatus!=''">AND bill_status=#{billStatus}</if>
            AND del_flag = 0
        </where>
    </sql>
    <!--end where-->

    <!--insert-->
    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill" useGeneratedKeys="true"
            keyProperty="id">
        insert into fee_gas_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into fee_gas_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->

    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from fee_gas_bill
        where  id = #{id,jdbcType=VARCHAR}  
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        delete from fee_gas_bill
        <include refid="where"/>
    </delete>
    <!-- end delete -->

    <!-- update -->
    <update id="update" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        update fee_gas_bill
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update fee_gas_bill
            <include refid="BatchUpdate_Set_From_Bean"/>
            where
            id = #{id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <!-- end update -->

    <!-- select -->
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from fee_gas_bill
        where
        id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultMap="BaseResultMap"
            parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        select
        <include refid="Base_Column_List"/>
        from fee_gas_bill
        <include refid="where"/>
    </select>

    <select id="findList" resultMap="BaseResultMap"
            parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        select
        <include refid="Base_Column_List"/>
        from fee_gas_bill
        <include refid="where"/>
    </select>

    <select id="getLastRecord" resultMap="BaseResultMap"
            parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasBill">
        select
        <include refid="Base_Column_List"/>
        from fee_gas_bill
        where del_flag=0
        <if test="id!=null and id!=''">
            AND id=#{id,jdbcType=VARCHAR}
        </if>
        and house_id=#{houseId,jdbcType=VARCHAR}
        ORDER BY gas_bill_date DESC
        limit 0,1;
    </select>

    <select id="getCurrentBillByDateAndHouseId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_gas_bill
        WHERE del_flag=0
        AND DATE_FORMAT(gas_bill_date,'%Y-%m')=DATE_FORMAT(#{gasBillDate,jdbcType=TIMESTAMP},'%Y-%m')
        AND house_id=#{houseId,jdbcType=VARCHAR}
    </select>

    <select id="getTotalAmount"
            parameterType="com.thinkgem.jeesite.modules.fee.common.entity.FeeCriteriaEntity"
            resultType="java.lang.Double">
        select
        sum(IFNULL(fgb.gas_bill_amount,0))
        from t_house th
        left join t_property_project tpp on th.PROPERTY_PROJECT_ID=tpp.ID and tpp.DEL_FLAG=0
        left join t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        left join fee_gas_bill fgb on fgb.house_id=th.ID and fgb.del_flag=0
        <if test="feeDate!=null and feeDate!=''">
            AND DATE_FORMAT(fgb.gas_bill_date,'%Y-%m') = #{feeDate,jdbcType=VARCHAR}
        </if>
        <include refid="commonWhere"/>
    </select>
    <select id="getAllHouseFeeWithAreaAndBuildAndProperty"
            parameterType="com.thinkgem.jeesite.modules.fee.common.entity.FeeCriteriaEntity"
            resultMap="HouseFeeWithAreaAndBuildAndPropertyMap">
        select
        sa.name area_name,tpp.AREA_ID,
        th.HOUSE_NO,th.id house_id,th.gas_account_num house_gas_num,
        tpp.PROJECT_NAME,th.PROPERTY_PROJECT_ID PROPERTY_ID,tpp.PROJECT_ADDR,
        th.BUILDING_ID,tb.BUILDING_NAME,
        fgb.id,fgb.batch_no,fgb.gas_bill_date,fgb.gas_bill_amount,
        fgb.gas_degree,fgb.bill_status,
        case fgb.bill_status when '0' then '待提交' when '1' then '待审核' when '2' then '审核通过' when '3' then '审核驳回' else ''
        end bill_status_name
        from t_house th
        left join t_property_project tpp on th.PROPERTY_PROJECT_ID=tpp.ID and tpp.DEL_FLAG=0
        left join t_building tb on th.BUILDING_ID=tb.ID and tb.DEL_FLAG=0
        left join sys_area sa on tpp.AREA_ID=sa.id and sa.del_flag=0
        left join fee_gas_bill fgb on fgb.house_id=th.ID and fgb.del_flag=0
        <if test="feeDate!=null and feeDate!=''">
            AND DATE_FORMAT(fgb.gas_bill_date,'%Y-%m') = #{feeDate,jdbcType=VARCHAR}
        </if>
        <include refid="commonWhere"/>
        ORDER BY fgb.create_date DESC,sa.name,tpp.PROJECT_NAME,tpp.PROJECT_ADDR ASC
    </select>
    <!-- end select -->
    <sql id="commonWhere">
        <where>
            <if test="areaId!=null and areaId!=''">AND sa.id=#{areaId}</if>
            <if test="propertyId!=null and propertyId!=''">AND tpp.id=#{propertyId}</if>
            <if test="buildId!=null and buildId!=''">AND tb.id=#{buildId}</if>
            <if test="houseId!=null and houseId!=''">AND th.id=#{houseId}</if>
            <if test="status!=null and status!=''">AND fgb.bill_status=#{status}</if>
            <if test="houseNum!=null and houseNum!=''">AND th.gas_account_num LIKE '%#{houseNum}%'</if>
            <if test="isRecord!=null and isRecord!=''">
                <!-- 已录 -->
                <if test="isRecord==0">
                    and fgb.id is not null
                </if>
                <!-- 未录 -->
                <if test="isRecord==1">
                    and fgb.id is null
                </if>
            </if>
            <!-- 数据范围过滤 -->
            ${sqlMap.dsf}
        </where>
    </sql>
    <!-- end select -->
</mapper>
