<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.fee.gas.dao.FeeGasReadFlowDao">

    <resultMap id="BaseResultMap"  type="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="business_id" property="businessId" jdbcType="VARCHAR"/>
        <result column="from_source" property="fromSource" jdbcType="NUMERIC"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="house_id" property="houseId" jdbcType="VARCHAR"/>
        <result column="house_gas_num" property="houseGasNum" jdbcType="VARCHAR"/>
        <result column="gas_read_date" property="gasReadDate" jdbcType="TIMESTAMP"/>
        <result column="gas_degree" property="gasDegree" jdbcType="NUMERIC"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, business_id, from_source, property_id, house_id, house_gas_num, gas_read_date, gas_degree, create_by, create_date, update_by, update_date, remarks, del_flag
    </sql>

    <sql id="Insert_Columns">
        <if test="id!=null"> id,</if>
        <if test="businessId!=null"> business_id,</if>
        <if test="fromSource!=null"> from_source,</if>
        <if test="propertyId!=null"> property_id,</if>
        <if test="houseId!=null"> house_id,</if>
        <if test="houseGasNum!=null"> house_gas_num,</if>
        <if test="gasReadDate!=null"> gas_read_date,</if>
        <if test="gasDegree!=null"> gas_degree,</if>
        <if test="createBy!=null"> create_by,</if>
        <if test="createDate!=null"> create_date,</if>
        <if test="updateBy!=null"> update_by,</if>
        <if test="updateDate!=null"> update_date,</if>
        <if test="remarks!=null"> remarks,</if>
        <if test="delFlag!=null"> del_flag,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
        <if test="businessId!=null">#{businessId,jdbcType=VARCHAR},</if>
        <if test="fromSource!=null">#{fromSource,jdbcType=NUMERIC},</if>
        <if test="propertyId!=null">#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null">#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseGasNum!=null">#{houseGasNum,jdbcType=VARCHAR},</if>
        <if test="gasReadDate!=null">#{gasReadDate,jdbcType=TIMESTAMP},</if>
        <if test="gasDegree!=null">#{gasDegree,jdbcType=NUMERIC},</if>
        <if test="createBy!=null">#{createBy.id,jdbcType=VARCHAR},</if>
        <if test="createDate!=null">#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateBy!=null">#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.id,jdbcType=VARCHAR},
        #{item.businessId,jdbcType=VARCHAR},
        #{item.fromSource,jdbcType=NUMERIC},
        #{item.propertyId,jdbcType=VARCHAR},
        #{item.houseId,jdbcType=VARCHAR},
        #{item.houseGasNum,jdbcType=VARCHAR},
        #{item.gasReadDate,jdbcType=TIMESTAMP},
        #{item.gasDegree,jdbcType=NUMERIC},
        #{item.createBy.id,jdbcType=VARCHAR},
        #{item.createDate,jdbcType=TIMESTAMP},
        #{item.updateBy.id,jdbcType=VARCHAR},
        #{item.updateDate,jdbcType=TIMESTAMP},
        #{item.remarks,jdbcType=VARCHAR},
        #{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <sql id="Update_Set_From_Bean">
        <if test="businessId!=null"> business_id=#{businessId,jdbcType=VARCHAR},</if>
        <if test="fromSource!=null"> from_source=#{fromSource,jdbcType=NUMERIC},</if>
        <if test="propertyId!=null"> property_id=#{propertyId,jdbcType=VARCHAR},</if>
        <if test="houseId!=null"> house_id=#{houseId,jdbcType=VARCHAR},</if>
        <if test="houseGasNum!=null"> house_gas_num=#{houseGasNum,jdbcType=VARCHAR},</if>
        <if test="gasReadDate!=null"> gas_read_date=#{gasReadDate,jdbcType=TIMESTAMP},</if>
        <if test="gasDegree!=null"> gas_degree=#{gasDegree,jdbcType=NUMERIC},</if>
        <if test="updateBy!=null"> update_by=#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null"> update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null"> remarks=#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null"> del_flag=#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        business_id=#{item.businessId,jdbcType=VARCHAR},
        from_source=#{item.fromSource,jdbcType=NUMERIC},
        property_id=#{item.propertyId,jdbcType=VARCHAR},
        house_id=#{item.houseId,jdbcType=VARCHAR},
        house_gas_num=#{item.houseGasNum,jdbcType=VARCHAR},
        gas_read_date=#{item.gasReadDate,jdbcType=TIMESTAMP},
        gas_degree=#{item.gasDegree,jdbcType=NUMERIC},
        update_by=#{item.updateBy.id,jdbcType=VARCHAR},
        update_date=#{item.updateDate,jdbcType=TIMESTAMP},
        remarks=#{item.remarks,jdbcType=VARCHAR},
        del_flag=#{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <!--where-->
    <sql id="where">
        <where>
            <if test="id!=null and id!=''"> AND id=#{id}</if>
            <if test="businessId!=null and businessId!=''"> AND business_id=#{businessId}</if>
            <if test="fromSource!=null and fromSource!=''"> AND from_source=#{fromSource}</if>
            <if test="propertyId!=null and propertyId!=''"> AND property_id=#{propertyId}</if>
            <if test="houseId!=null and houseId!=''"> AND house_id=#{houseId}</if>
            <if test="houseGasNum!=null and houseGasNum!=''"> AND house_gas_num=#{houseGasNum}</if>
            <if test="gasReadDate!=null and gasReadDate!=''"> AND gas_read_date=#{gasReadDate}</if>
            <if test="gasDegree!=null and gasDegree!=''"> AND gas_degree=#{gasDegree}</if>
            AND del_flag = 0
        </where>
    </sql>
    <!--end where-->

    <!--insert-->
    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow" useGeneratedKeys="true" keyProperty="id">
        insert into fee_gas_read_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into fee_gas_read_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->

    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from fee_gas_read_flow
        where  id = #{id,jdbcType=VARCHAR}  
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow">
        delete from fee_gas_read_flow
        <include refid="where"/>
    </delete>
    <!-- end delete -->

    <!-- update -->
    <update id="update" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow">
        update fee_gas_read_flow
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where  id = #{id,jdbcType=VARCHAR}  
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update fee_gas_read_flow
        <include refid="BatchUpdate_Set_From_Bean"/>
        where
             id = #{id,jdbcType=VARCHAR}  
        </foreach>
    </update>
    <!-- end update -->

    <!-- select -->
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/> from fee_gas_read_flow
        where
             id = #{id,jdbcType=VARCHAR}  
    </select>

    <select id="findAllList" resultMap="BaseResultMap" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow">
        select <include refid="Base_Column_List"/> from fee_gas_read_flow
        <include refid="where"/>
    </select>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.thinkgem.jeesite.modules.fee.gas.entity.FeeGasReadFlow">
        select <include refid="Base_Column_List"/> from fee_gas_read_flow
        <include refid="where"/>
    </select>
    <!-- end select -->
</mapper>
