<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.fee.config.dao.FeeConfigDao">

    <resultMap id="BaseResultMap"  type="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="fee_type" property="feeType" jdbcType="NUMERIC"/>
        <result column="config_type" property="configType" jdbcType="NUMERIC"/>
        <result column="charge_method" property="chargeMethod" jdbcType="NUMERIC"/>
        <result column="rent_method" property="rentMethod" jdbcType="NUMERIC"/>
        <result column="business_id" property="businessId" jdbcType="VARCHAR"/>
        <result column="show_name" property="showName" jdbcType="VARCHAR"/>
        <result column="config_value" property="configValue" jdbcType="VARCHAR"/>
        <result column="config_status" property="configStatus" jdbcType="NUMERIC"/>
        <result column="create_by" property="createBy.id" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy.id" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="FullResultMap" type="com.thinkgem.jeesite.modules.fee.config.entity.vo.FeeConfigVo" extends="BaseResultMap">
        <result column="fee_type_name" property="feeTypeName" jdbcType="VARCHAR"/>
        <result column="config_type_name" property="configTypeName" jdbcType="VARCHAR"/>
        <result column="charge_method_name" property="chargeMethodName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, fee_type, config_type, charge_method,rent_method, business_id, show_name, config_value, config_status, create_by, create_date, update_by, update_date, remarks, del_flag
    </sql>

    <sql id="Insert_Columns">
        <if test="id!=null"> id,</if>
        <if test="feeType!=null"> fee_type,</if>
        <if test="configType!=null"> config_type,</if>
        <if test="chargeMethod!=null"> charge_method,</if>
        <if test="rentMethod!=null"> rent_method,</if>
        <if test="businessId!=null"> business_id,</if>
        <if test="showName!=null"> show_name,</if>
        <if test="configValue!=null"> config_value,</if>
        <if test="configStatus!=null"> config_status,</if>
        <if test="createBy!=null"> create_by,</if>
        <if test="createDate!=null"> create_date,</if>
        <if test="updateBy!=null"> update_by,</if>
        <if test="updateDate!=null"> update_date,</if>
        <if test="remarks!=null"> remarks,</if>
        <if test="delFlag!=null"> del_flag,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
        <if test="feeType!=null">#{feeType,jdbcType=NUMERIC},</if>
        <if test="configType!=null">#{configType,jdbcType=NUMERIC},</if>
        <if test="chargeMethod!=null">#{chargeMethod,jdbcType=NUMERIC},</if>
        <if test="rentMethod!=null">#{rentMethod,jdbcType=NUMERIC},</if>
        <if test="businessId!=null">#{businessId,jdbcType=VARCHAR},</if>
        <if test="showName!=null">#{showName,jdbcType=VARCHAR},</if>
        <if test="configValue!=null">#{configValue,jdbcType=VARCHAR},</if>
        <if test="configStatus!=null">#{configStatus,jdbcType=NUMERIC},</if>
        <if test="createBy!=null">#{createBy.id,jdbcType=VARCHAR},</if>
        <if test="createDate!=null">#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateBy!=null">#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null">#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null">#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null">#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.id,jdbcType=VARCHAR},
        #{item.feeType,jdbcType=NUMERIC},
        #{item.configType,jdbcType=NUMERIC},
        #{item.chargeMethod,jdbcType=NUMERIC},
        #{item.rentMethod,jdbcType=NUMERIC},
        #{item.businessId,jdbcType=VARCHAR},
        #{item.showName,jdbcType=VARCHAR},
        #{item.configValue,jdbcType=VARCHAR},
        #{item.configStatus,jdbcType=NUMERIC},
        #{item.createBy.id,jdbcType=VARCHAR},
        #{item.createDate,jdbcType=TIMESTAMP},
        #{item.updateBy.id,jdbcType=VARCHAR},
        #{item.updateDate,jdbcType=TIMESTAMP},
        #{item.remarks,jdbcType=VARCHAR},
        #{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <sql id="Update_Set_From_Bean">
        <if test="feeType!=null"> fee_type=#{feeType,jdbcType=NUMERIC},</if>
        <if test="configType!=null"> config_type=#{configType,jdbcType=NUMERIC},</if>
        <if test="chargeMethod!=null"> charge_method=#{chargeMethod,jdbcType=NUMERIC},</if>
        <if test="rentMethod!=null"> rent_method=#{rentMethod,jdbcType=NUMERIC},</if>
        <if test="businessId!=null"> business_id=#{businessId,jdbcType=VARCHAR},</if>
        <if test="showName!=null"> show_name=#{showName,jdbcType=VARCHAR},</if>
        <if test="configValue!=null"> config_value=#{configValue,jdbcType=VARCHAR},</if>
        <if test="configStatus!=null"> config_status=#{configStatus,jdbcType=NUMERIC},</if>
        <if test="createBy!=null"> create_by=#{createBy.id,jdbcType=VARCHAR},</if>
        <if test="createDate!=null"> create_date=#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateBy!=null"> update_by=#{updateBy.id,jdbcType=VARCHAR},</if>
        <if test="updateDate!=null"> update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="remarks!=null"> remarks=#{remarks,jdbcType=VARCHAR},</if>
        <if test="delFlag!=null"> del_flag=#{delFlag,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        fee_type=#{item.feeType,jdbcType=NUMERIC},
        config_type=#{item.configType,jdbcType=NUMERIC},
        charge_method=#{item.chargeMethod,jdbcType=NUMERIC},
        rent_method=#{item.rentMethod,jdbcType=NUMERIC},
        business_id=#{item.businessId,jdbcType=VARCHAR},
        show_name=#{item.showName,jdbcType=VARCHAR},
        config_value=#{item.configValue,jdbcType=VARCHAR},
        config_status=#{item.configStatus,jdbcType=NUMERIC},
        create_by=#{item.createBy.id,jdbcType=VARCHAR},
        create_date=#{item.createDate,jdbcType=TIMESTAMP},
        update_by=#{item.updateBy.id,jdbcType=VARCHAR},
        update_date=#{item.updateDate,jdbcType=TIMESTAMP},
        remarks=#{item.remarks,jdbcType=VARCHAR},
        del_flag=#{item.delFlag,jdbcType=VARCHAR},
    </sql>

    <!--where-->
    <sql id="where">
        <where>
            <if test="id!=null and id!=''"> AND id=#{id}</if>
            <if test="feeType!=null"> AND fee_type=#{feeType}</if>
            <if test="configType!=null"> AND config_type=#{configType}</if>
            <if test="chargeMethod!=null"> AND charge_method=#{chargeMethod}</if>
            <if test="rentMethod!=null"> AND rent_method=#{rentMethod}</if>
            <if test="businessId!=null and businessId!=''"> AND business_id=#{businessId}</if>
            <if test="configValue!=null and configValue!=''"> AND config_value=#{configValue}</if>
            <if test="configStatus!=null and configStatus!=''"> AND config_status=#{configStatus}</if>
            AND del_flag = 0
        </where>
    </sql>
    <!--end where-->

    <!--insert-->
    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig" useGeneratedKeys="true" keyProperty="id">
        insert into fee_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into fee_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->

    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from fee_config
        where  id = #{id,jdbcType=VARCHAR}  
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        delete from fee_config
        <include refid="where"/>
    </delete>
    <!-- end delete -->

    <!-- update -->
    <update id="update" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        update fee_config
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where  id = #{id,jdbcType=VARCHAR}  
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update fee_config
        <include refid="BatchUpdate_Set_From_Bean"/>
        where
             id = #{id,jdbcType=VARCHAR}  
        </foreach>
    </update>
    <!-- end update -->

    <!-- select -->
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/> from fee_config
        where
             id = #{id,jdbcType=VARCHAR}  
    </select>

    <select id="getFeeConfigList" resultMap="FullResultMap" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        SELECT
        CASE fc.config_type
        WHEN 0 THEN '默认' WHEN 1 THEN sa.name WHEN 2 THEN sa.name WHEN 3 THEN sa.name
        WHEN 4 THEN sa.name WHEN 5 THEN sa.name WHEN 6 THEN sa.name
        WHEN 7 THEN tpp.project_name
        WHEN 8 THEN CONCAT(tbtpp.project_name , tb.building_name,'号')
        WHEN 9 THEN CONCAT(thtpp.project_name , thtb.building_name,'号',th.house_no,'室')
        WHEN 10 THEN CONCAT(trtpp.project_name , trtb.building_name,'号',trth.house_no,'室',tr.room_no,'房') end config_type_name,
        fc.* FROM fee_config fc
        LEFT JOIN  sys_area sa ON sa.id = fc.business_id and sa.del_flag=0
        LEFT JOIN t_property_project tpp ON tpp.id = fc.business_id and tpp.del_flag=0

        LEFT JOIN t_building tb ON tb.id = fc.business_id and tb.del_flag=0
        LEFT JOIN t_property_project tbtpp ON tbtpp.id = tb.T_PROPERTY_PROJECT_MAIN_ID and tbtpp.del_flag=0

        LEFT JOIN t_house th ON th.id = fc.business_id and th.del_flag=0
        LEFT JOIN t_building thtb ON thtb.id = th.BUILDING_ID and thtb.del_flag=0
        LEFT JOIN t_property_project thtpp ON thtpp.id = th.PROPERTY_PROJECT_ID and thtpp.del_flag=0

        LEFT JOIN t_room tr ON tr.id = fc.business_id and tr.del_flag=0
        LEFT JOIN t_house trth ON trth.id = tr.HOUSE_ID and trth.del_flag=0
        LEFT JOIN t_building trtb ON trtb.id = trth.BUILDING_ID and trtb.del_flag=0
        LEFT JOIN t_property_project trtpp ON trtpp.id = trth.PROPERTY_PROJECT_ID and trtpp.del_flag=0
        <where>
            fc.del_flag=0
            <if test="feeType!=null"> AND fc.fee_type=#{feeType,jdbcType=NUMERIC}</if>
            <if test="configType!=null"> AND fc.config_type=#{configType,jdbcType=NUMERIC}</if>
            <if test="chargeMethod!=null"> AND fc.charge_method=#{chargeMethod,jdbcType=NUMERIC}</if>
        </where>
    </select>

    <select id="findAllList" resultMap="BaseResultMap" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        select <include refid="Base_Column_List"/> from fee_config
        <include refid="where"/>
    </select>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.thinkgem.jeesite.modules.fee.config.entity.FeeConfig">
        select <include refid="Base_Column_List"/> from fee_config
        <include refid="where"/>
    </select>
    <!-- end select -->
</mapper>
